/* GLOBAL
----------------------------------------------------------------------------------------*/
:root {
    --off-white: #d1d3d4;
    --off-black: #231f20;
    --my-yellow: #EBE458;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

header, main {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: "karol-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    color: var(--off-white);
    background-color: var(--off-black);
}

h1 {
    font-family: nexa-rust-sans-black-2, sans-serif;
}

h2 {
    font-weight: 600;
}

/* HEADER
----------------------------------------------------------------------------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    max-height: 50px;
    padding: 8px;
}

header nav a {
    padding: 30px;
    text-decoration: none;
    color:var(--off-white);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

nav a:hover {
    color: var(--my-yellow);
}


/* INDEX
----------------------------------------------------------------------------------------*/
/* HERO ------------- */
.hero { 
    background-color: var(--off-white);
    height: 200px;
}

/* BAND INFO ------------ */
.band-info {
    margin: auto;
    max-width: 65ch;
    padding: 10px;
}

.album-cover {
    max-width: 65ch;
    display: flex;
}

/* STREAMING ------------ */
.stream-links {
    list-style: none;
    padding: 10px;
}

.stream-links img {
    width: 45px;
}

.stream-links li {
    display: inline-block;
}

.stream-links a:hover {
    opacity: 0.5;
}

/* NEWSLETTER ---------- */
input {
    width: 97%;
}

input[type=text], input[type=email] {
    background-color: var(--off-black);
    border-width: 2px;
    border-color: var(--off-white);
    padding: 5px;
}

.newsletter button {
    width: 100%;
    line-height: .75em;
    letter-spacing: 0.05em;
    border: none;
    padding: 10px 10px;
    margin: 20px 0;
    display: block;
    font-size: 2rem;
}

.newsletter button:hover {
    background-color: var(--my-yellow);
}

/* ALBUM
----------------------------------------------------------------------------------------*/
.album-jacket img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 4em;
}

.tracklist {
    margin: auto;
    max-width: 65ch;
    padding: 10px;
}

/* MERCH
----------------------------------------------------------------------------------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 100ch;
    margin: 40px auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content p, h3 {
    margin: .5rem;
}

.grid button {
    padding: 10px 10px;
    line-height: 1em;
    letter-spacing: 0.05em;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}


.grid button:hover {
    background-color: var(--my-yellow);
}

/* FOOTER
----------------------------------------------------------------------------------------*/
.socials {
    list-style: none;
    padding: 0;
}

.socials img {
    width: 32px;
}

.socials li {
    display: inline-block;
}

.socials a:hover {
    opacity: 0.5;
}

footer {
    line-height: 0.8;
    padding: 0.5rem 0;
}

footer nav a{
    text-decoration: none;
    color:var(--off-white);
    font-size: 2rem;
}